body{
    background-color: #cccccc;    
    font-family: Arial sans-serif;
    font-size: 14px;
}

.Table_Info_Casos{
        
}

.Table_Info_Casos input{
    height: 30px;
    width: 200px;
    border: solid 1px #eeeeee;    
    padding-left: 2px;
}

input{
    height: 30px;
    width: 200px;
    border: solid 1px #eeeeee;    
    padding-left: 2px;
}

.Lbl_Info{
    
}